<%- include('partials/header')-%>
<%- include('partials/messages')-%>

<table id="example" class="display" style="width:90%">

    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Option1</th>
            <th>Option2</th>
        </tr>
    </thead>
    <tbody>
        <% emp.forEach((employee)=>{ %>
        <tr>
            <td><%= employee.name %></td>
            <td><%= employee.designation %></td>
            <td><%= employee.salary %></td>
            <td>
                <a class="btn btn-warning" href="/edit/<%= employee.id %>">Edit</a>
            </td>
            <td>
                <form style="display: inline;" method="POST" action="/delete/<%= employee.id %>?_method=DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-secondary">Delete</button>
                </form>
            </td>
        </tr>
        <%  }) %>
    </tbody>
</table>
<%- include('partials/footer')-%>